.docs-sidebar {
  --cui-sidebar-bg: #f0f4f7;
  --cui-sidebar-brand-bg: transparent;
  --cui-sidebar-brand-color: rgba(44,56,74,0.87);
  --cui-sidebar-nav-link-color: rgba(44,56,74,0.87);
  --cui-sidebar-nav-link-active-color: #321fdb;
  --cui-sidebar-nav-link-hover-color: #321fdb;
  --cui-sidebar-nav-group-bg: transparent;
  --cui-sidebar-nav-group-toggle-show-color: #321fdb;
  // --cui-sidebar-nav-link-color: #988fed;
}