[submodule "packages/coreui-react-chartjs"]
	path = packages/coreui-react-chartjs
	url = https://github.com/coreui/coreui-react-chartjs.git
  branch = main
[submodule "packages/coreui-icons-react"]
	path = packages/coreui-icons-react
	url = https://github.com/coreui/coreui-icons-react.git
  branch = main
