# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
/node_modules
package-lock.json

# testing
/demo/dist

# testing
/coverage

# production
/es
/lib
/umd

# misc
.DS_Store
.idea

npm-debug.log*
