.table-api {
  .table {
    margin: 0;
  }

  tr {
    scroll-margin-top: 80px;
    scroll-margin-bottom: 100px;
  }

  tr th {
    padding: 0.75rem 1rem;

    &:nth-child(3) {
      width: 50%;
    }
  }

  tr td {
    padding: 1rem;
  }

  th {
    background-color: var(--cui-tertiary-bg);
  }

  tr:nth-child(2n-1):has(+ tr td[colspan='3']) td {
    border-bottom-style: dashed;
  }

  p {
    margin: 0;
  }

  tbody tr:last-child td {
    border-bottom: 0;
  }

  .highlight {
    margin: 1rem -1rem -1rem -1rem !important;
    padding: 0.25rem 1rem;
    border: 0;
    border-radius: 0;
    border: 2px solid var(--cui-body-bg);

    code[class*=language-], pre[class*=language-] {
      white-space: pre-wrap;
    }
  }
}
